.ForgotPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form-group-forgotpassword {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control-forgotpassword {
  padding: 5px 20px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid rgb(18, 24, 38);
  font-size: 16px;
  outline: none;
  font-weight: 600;
  color: rgb(18, 24, 38);
  margin: 10px 0px;
}

.form-group-forgotpassword > input:focus {
  box-shadow: none;
  border: 2px solid rgba(18, 24, 38, 0.2);
}

.forgotpassword-button {
  padding: 17px 20px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: rgb(18, 24, 38);
  color: white;
  cursor: pointer;
  line-height: 1rem;
  font-weight: 600;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: all 0.2s;
  margin: 10px auto;
}

.forgotpassword-button:hover {
  background-color: rgba(18, 24, 38, 0.9);
  transition: all 0.2s;
}
