.Login {
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: 65% 35%;
}

.login-upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.login-title {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(18, 24, 38);
}

form {
  width: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 100%;
  padding: 5px 20px;
  height: 40px;
  border:none;
  /* border-radius: 5px; */
  /* border: 1px solid rgb(132, 132, 132); */
  font-size: 16px;
  outline: none;
  font-weight: bold;
  color: rgb(132, 132, 132);
  margin: 10px 0px;
}

.form-control:focus {
  border:none
}
.form-control:active{
    border:none
}

.or-divider {
  display: flex;
  align-items: center;
  margin: 20px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #aaa;
}

.or-text {
  margin: 0 10px;
  font-weight: bold;
  color: #555;
}

.login-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.login-input {
  display: grid;
  padding: 5px 20px;
  margin: 5px 0px;
  grid-template-columns: 30% 70%;
}
.login-input-rand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-avatar-block {
  display: flex;
  justify-content: center;
  align-items: center;
}





.oauth-groups {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.oauth-button {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  line-height: 1rem;
}
.google-button {
  background-color: #ff4d4d;
}
.google-button:hover {
  background-color: #ff6666;
}
.facebook-button {
  background-color: #1877f2;
}
.facebook-button:hover {
  background-color: #3b5ba2;
}
.github-button {
  background-color: #333333;
}
.github-button:hover {
  background-color: #555555;
}
.discord-button {
  background-color: #7289da;
}
.discord-button:hover {
  background-color: #99aab5;
}
